#messageSender{
background-color: black;
color: white;
border-radius: 10px;
width: 85%;
margin-left: 5%;
margin-right: 10%;
padding-left: 10px;
position: fixed;
bottom: 10px;
right: 10px;
z-index: 9999;
cursor: pointer;
height: 40px;
box-shadow: 0px 0px 40px rgb(255, 255, 255);
background-color: rgba(0,0,0,.5);
}

#sendMessage{
    position: fixed;
    z-index: 9999;
    background-color: rgba(0,0,0,.5);
color: white;
border-radius: 10px;
padding :10px;
position: fixed;
height: 3.5%;
box-shadow: 0px 0px 40px rgb(255, 255, 255);
bottom: 12px;
right:25px;
width: 7%;
height: 40px;
text-align: center;
}

body{
    background-color:#2c2c2c;
}

.msg{
    display: flex; 
    flex-direction: column;
    margin-left: 10%;
    color: white;
}
